
<div class="well">
  <h1>Hangman</h1>
</div>


<form class="game-board" action="/test" method="post">
  <label for="guess"></label>
  <input type="text" name="guess" class="form-control">
  <button type="submit">Go</button>
</form>
